
body {
    width: 100%;
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
    font-size: bold;
}
.logo{
    position: relative;
    text-align: center;
    top: 100px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    font-size: small;
    
}
.container {
    background-color: hsl(0, 0%, 100%);
    width: 550px;
    height: 300px;
    padding: 10px;
    margin: auto;
    bottom: 30px;
    border-radius: 10px;
    border: 1px solid white;
    position: relative;
    top: 50px;
}
#box-1 {
    float:left;
    width: 250px;
    background-color: #ffffff;
    position: relative;
    top: 10px;
    border-radius: 10px;
    height: 260px;
    padding-left: 30px;
}
#box-2 {
    float: right;
    background-color: hsl(183, 100%, 15%);
    width: 250px;
    position: relative;
    top: 10px;
    border-radius: 10px;
    border: 2px;
    height: 260px;
    right: 10px;
}
.wrapper {
    width: 250px;
    height: 230px;
    position: relative;
    top: 10px;
    bottom: 10px;
    right: 15px;
    
}
.Bill {
    line-height: 5px;
    color: #b8c4c3;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 8px;
    position: relative;
    top: 4px;
    width: 200px;
}
#currencyinput {
    color: #f3f8fb;
    display: inline-block;
}

#dollar {
    background-image: url(../Images/icon-dollar.svg);
    background-size: 7px;
    background-repeat: no-repeat;
    
    background-position: 10px 8px;
    color: #23c3ab;
    text-align: right;
    font-family: 'Space Mono', monospace;
    width: 240px;
    height: 25px;
    border: 2px;
    border-color: none;
    position: relative;
}
#dollar:hover {
    border-radius: 2px solid;
    border-color: rgb(159,232,223);
}

.error{
    position: relative;
    color: red;
    padding: 5px;
    font-size: 8px;  
  }

#number {
        background-image: url(../Images/icon-person.svg);
        background-size: 8px;
        background-position: 10px 8px;
        background-repeat: no-repeat;
        background-color: #f3f8fb;
        color: #23c3ab;
        text-align: right;
        font-family: 'Space Mono', monospace;
        width: 240px;
        height: 25px;
        border: 2px;
        border-color: none;
        position: relative;
        top: -25px;
}

.Tip {
    line-height: 28px;
    color: #b8c4c3;
    font-family: 'Space Mono', monospace;
    font-size: 8px;
    position: relative;
    top: 4px;
}
.list{
    display: inline;
    list-style: none;
}

.submit{
    background-color: hsl(183, 100%, 15%);
    display: inline-block;
    color: white;
    border-radius: 2px;
    border: 5px;
    width: 70px;
    height: 25px;
    position: relative;
    font-family: 'Space Mono', monospace;
    right: 5px;
    margin-bottom: 10px;
    margin-left: 7px;
    line-height: 2px;
    cursor: pointer;
}
.submit:hover {
    background-color: rgb(159,232,223);
}
#custom {
    background-color: #f3f8fb;
    font-family: 'Space Mono', monospace;
    width: 70px;
    height: 25px;
    border: 5px;
    color: #23c3ab;
    cursor: pointer;
}
#custom:hover {
    border-color: rgb(159,232,223);
}
.list a{
    text-decoration: none;
}

.People {
    line-height: 28px;
    color: #b8c4c3;
    font-family: 'Space Mono', monospace;
    font-size: 8px;
    position: relative;
    top: 4px;
    width: 200px;
}
.amount {
    color: whitesmoke;
    position: relative;
    font-family: 'Space Mono', monospace;
    left: 20px;
    top: 40px;
    font-size: 10px;
    line-height: 1em;
}
.result {
    line-height: none;
    margin: 0;
    padding: 0;
}
.total {
    color: whitesmoke;
    position: relative;
    left: 20px;
    font-size: 10px;
    line-height: 1em;
    position: relative;
    top: 80px;

}
#tipamount {
    float: right;
    color: #23c3ab;
    font-size: 30px;
    position: fixed;
    right: 480px;
    bottom: 350px;
    font-family: 'Space Mono', monospace;
}

#totalamount {
    float: right;
    color: #23c3ab;
    font-size: 30px;
    position: fixed;
    bottom: 280px;
    right: 480px;
    font-family: 'Space Mono', monospace;
} 
#button {
    background-color: rgb(13,104, 109);
    color: whitesmoke;
    position: fixed;
    top: 130px;
    margin: auto;
    font-family: 'Space Mono', monospace;
    width: 200px;
    height: 30px;
    border-radius: 1px;
    border-color: none;
    padding-left: 20px;
    padding-right: 20px;
    bottom: -100px;
    right: 470px;
    opacity: 0.5;
    cursor: pointer;
}
#button:hover {
    background-color: rgb(159,232,223);
}
@media only screen and (min-width: 550px){
    #tipamount {
        position: relative;
        right: 30px;
        bottom: -13px;
    }
    #totalamount {
        position: relative;
        left: 65px;
        top: 40px;
    }
    #button {
       margin-bottom: 5px;
       position: relative;
       top: 120px;
       background-color: #26C2AD;
       left: 15px;
    }
}

@media only screen and (max-width: 760px) { 
    .logo{
        margin: auto;
    }
    .container {
        width: 250px;
        height: 480px;
        flex-direction: row;
        position: fixed;
        top: 30%;
        right: 25%;
        left: 15%; 
    }
    #box-1{
        width: 220px;
    }
    #box-2 {
        width: 230px;
        height: 160px;
        line-height: 10px;
        position: relative;
        margin-top: 50px;
    }
    .Bill {
        padding-bottom: 2px;
    }
    
    #dollar {
        width: 220px;
    }
    #number{
        width: 220px;
    }
    .submit {
        width: 100px;
    }
    #custom {
        width: 100px;
    }
    .total {
        position: relative;
        top: 60px;
    }
    #tipamount {
        position: relative;
        right: 30px;
        bottom: -13px;
    }
    #totalamount {
        position: relative;
        left: -28px;
        top: 40px;
    }
    #button {
        margin-bottom: 5px;
        position: relative;
        top: 65px;
        background-color: #26C2AD;
        left: 15px;
     }
    
}
@media only screen and (min-width: 991px) {
    #tipamount {
        position: relative;
        right: 30px;
        bottom: -13px;
    }
    #totalamount {
        position: relative;
        left: 65px;
        top: 40px;
    }
    #button {
       margin-bottom: 5px;
       position: relative;
       top: 120px;
       background-color: #26C2AD;
       left: 15px;
    }
}


